@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  font-family: "Roboto";

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

#container {
  background-color: #c0c5c1;
  color: #7d8491;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  max-width: 60vw;
  min-height: none;
  margin: auto;
  margin-top: 1rem;
  padding: 20px;
  border: 2px solid #c0c5c1;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 1rem 0.3rem #7d8491;
}

.todoItemContainer {
  display: flex;
  flex-direction: row;
  background-color: #574b60;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  color: #c0c5c1;
  height: 5vh;
  min-width: 16vw;
  max-width: 50vw;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 1rem 0.06rem #64686f;
}

.todoItemContainer > button {
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

.doneTask {
  text-decoration: line-through;
  color: #939593;
}

.tasksListContainer {
  background-color: #7d8491;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: decimal;
  padding: 0%;
  min-width: 30vw;
  border: 2px solid #7d8491;
  border-radius: 5px;
  max-width: 55vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
}

html {
  background-color: #eaf0ce;
}

#container > form {
  width: 40vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 100px;
}

.inputTask {
  border: none;
  background-color: #eaf0ce;
  border-bottom: 0.125rem solid #7d8491;
  border-radius: 5px;
  width: 100%;
  height: 5rem;
  font-size: 1.5rem;
  overflow: scroll;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
  box-shadow: 0rem 0rem 1rem 0.3rem #7d8491;
}

.inputTask:focus {
  border: 0.125rem solid #7d8491;
  outline: none;
}
.taskModule {
  display: flex;
  flex-direction: row;
  margin-left: 0.3rem;
  max-width: 53rem;
  overflow: hidden;
  overflow-y: hidden;
}
.taskModule > p {
  margin-left: 0.4rem;
}

form > button {
  margin-top: 1rem;
  background-color: #eaf0ce;
  height: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: larger;
}
form > button:nth-child(2) {
  margin-right: 1px;
}

.buttonUsg {
  background-color: #eaf0ce;
  border-radius: 5px;
  border: none;
  color: #7d8491;

  border-bottom: 2px solid #7d8491;
}

.buttonUsg:hover {
  color: #574b60;
}

.buttonUsg:active {
  border: 0.125rem solid #7d8491;
}

.width100 {
  width: 100%;
}
.width75 {
  width: 75%;
}
.width25 {
  width: 25%;
}

.width50vw {
  width: 10vw;
}

.buttonSection {
  width: 100%;
  height: 3.5vh;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
